
<div id="checkInPage">
	<input type="text" placeholder="Service Id" [(ngModel)]="carServiceDetails.serviceId" />

	<br><br>

	<textarea [(ngModel)]="carServiceDetails.complaints" rows="5" cols="60"></textarea>  <br><br>

	Choose Additional Services : <br>
	<input type="checkbox" [(ngModel)]="isWheelAlignmentSelected" /> Wheel ALignment
	<input type="checkbox" [(ngModel)]="isGearCheckupSelected" /> Gear CheckUp
	<input type="checkbox" [(ngModel)]="isOilsCheckupSelected" /> Oils CheckUp

	<br><br>

	<input type="date" placeholder="CheckInDate" [(ngModel)]="carServiceDetails.checkInDate" />  <br><br>

	<input type="date" placeholder="CheckOutDate" [(ngModel)]="carServiceDetails.checkOutDate" />  <br><br>



	<button (click)="submitCheckIn()" > Submit Car CheckIn </button>

	<h3> {{checkedInRespMsg}} </h3>
</div>